#game-info-display,
#instructions,
#turn-display {
    height: 40px;
    width: px;
    padding: 5px;
    background-color: beige;
    display: flex;
    align-items: center;
}

#all-game-boards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;

}

#player-one-board {
    height: 400px;
    width: 400px;
    margin: 25px;
    background-color: lightpink;
    display: flex; 
    flex-wrap: wrap;


}

#player-two-board {
    height: 400px;
    width: 400px;
    margin: 25px;
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
}

#buttons {
    display: flex;
    justify-content: center;
}

#start-button,
#reset-button {
    margin: 25px;
}

body {
    background-color: beige;
    width: 900px;
    border: solid black 5px
}

.board-square {
   width: 40px;
   height: 40px;
   border: solid 1px; 
   box-sizing: border-box;
};